<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpiando a la competencia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <link href="/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="mainHeader" id="arriba">
        <div class="logo">
            <a href="/"><img src="img\logo.jpeg" alt="logo de marca" class="logoDeMarca"></a>
        </div>
        <div class="barraDeBusqueda">
            
            <form action="/index.html" method="GET">
            <input type="text" name="barraDeBusqueda" id="barraDeBusqueda" placeholder="Buscar productos, Marcas                                  ">
            </form>
            <a href="/"> <i class="fas fa-search"></i></a>
        </div>
        <div class="login"> 
            <a href="/login"><p>Loguearse</p></a>
        </div>
        <div class="register"> 
            <a href="/register"><p>Registrarse</p></a>
        </div>
        <div class="carrito"> 
            <p>
            <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </p>
        </div>
    </div>
    
    <div class="menuLoginRegister">
        <i class="fas fa-bars"></i>
    </div>
</header>

<main>
    <div class="banner">
    <a href="/"><img src="img\1.-BANNER-DE-PRODUCTOS-DE-LIMPIEZA.jpg" alt="BannerProductos"></a>
    </div>
    <section class="sectionProducts">
        
        <div class="menuCategorias">
            <div class="menuCategoriasText">
            <h3>v | Categorias</h3>
            <a href="#">Detergentes</a>
            <a href="#">Gel</a>
            <a href="#">Papel higiénico</a>
            <a href="#">Lavandinas</a>
            <a href="#">Desinfectante</a>
            <a href="#">Alcohol</a>
            <a href="#">Esponjas</a>
            <a href="#">Bolsas de residuos</a>
            <a href="#">Jabones</a>
            <a href="#">Trapos</a>
            <a href="#">Baldes</a>
            <h3>v | Envio</h3>
            <a href="#">Gratis</a>
            <h3>v | Marca</h3>
            <a href="#">Sussex</a>
            <a href="#">Higienol</a>
            <a href="#">Ala</a>
            <a href="#">Cif</a>
            <a href="#">Vim</a>
            <a href="#">Ayudin</a>
            <a href="#">Odex</a>
            </div>
        </div>
        <div class="menuDesplegable">
            <i class="fas fa-bars"></i>
        </div>
        <div class="productosOfertas">
            <h2 class="titulares" >Sección de Ofertas</h2>
            <div class="productos">    
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\esponjaX2.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$250</p>                            
                            <p class="descu">15% off</p>
                        </div>
                        <h3 class="tituloItem">Pack 2 esponjas Scotch-Brite</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\lavandina.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$750</p>
                            <p class="descu">5% off</p>
                        </div>
                        <h3 class="tituloItem">Pack 5 Lavandinas Vim en gel 700 ml C/u</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\Lavapisos.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$420</p>
                            <p class="descu">10% off</p>
                        </div>
                        <h3 class="tituloItem">Poett Desinfectante Frescura De Lavanda 4l Limpiador Pisos</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\pano.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$395</p>
                            <p class="descu">5% off</p>
                        </div>
                        <h3 class="tituloItem">Pack Paño Multiuso Amarillo X 12 Unidades</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\balde.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$220</p>
                            <p class="descu">10% off</p>
                        </div>
                        <h3 class="tituloItem">Balde Plastico 10 Lts Con Manija Y Pico Color Negro</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\cepilloBarrer.png">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$259</p>
                            <p class="descu">2% off</p>
                        </div>
                        <h3 class="tituloItem">Escobillon Curvo Base Plastica 10 Cm</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\limpiaVidrios.jfif">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$400</p>
                            <p class="descu">10% off</p>
                        </div>
                        <h3 class="tituloItem">Secavidrios Azul De Empuñadura Plastica 25 Cm</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\jabon.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$175</p>
                            <p class="descu">7% off</p>
                        </div>
                        <h3 class="tituloItem">Pack Jabón De Tocador Rexona Men Active 125 Gr X3 Unidades</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\bolsaconsorcio.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$172</p>
                            <p class="descu">2% off</p>
                        </div>
                        <h3 class="tituloItem">Bolsas De Residuos Negras 80x110 X10 Unidades</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\papel-higienico-higienol.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$508</p>
                            <p class="descu">10% off</p>
                        </div>
                        <h3 class="tituloItem">Papel Higiénico Higienol Max 100m X2</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\franelaNaranja.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$99</p>
                            <p class="descu">1% off</p>
                        </div>
                        <h3 class="tituloItem">Franela Naranja 40 X 50</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
                <div class="item">
                    <a href="/productDetail">
                    <img src="img\papel-higienico-felpitaKids.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$119</p>
                            <p class="descu">20% off</p>
                        </div>
                        <h3 class="tituloItem">Papel higiénico Felpita Kids doble 30 m de 4 u</h3>

                    </div>
                    <div class="botonCarrito">
                        <a href="/carrito"><input class="botonCarrito" name="botonCarrito" type="submit" value="Agregar Al Carrito"></a>
                    </div>
                </div>
            </div> 
        </div>
    </section>
</main>

<footer>
    <div class="footerFinal"> 
        <div class="parteFooter">
            <i class="fas fa-sign-in-alt"></i>
            <h2>Sobre nosotros</h2>
            <p>Limpiando a la competencia es una tienda online de productos de limpieza hecha para la compra online. Somos especialistas en productos de limpieza y estamos empezando a dominar el mercado online. ¡No dudes en fijarte en nuestros catalogos!</p>
        </div>
        <div class="parteFooter">
            <i class="fas fa-envelope-open-text"></i>
            <h2>Escribinos</h2>
                <div class="escribinos">
                    <p>Nuestro mail: LimpiandoCompetencia@gmail.com</p>
                </div>
        </div>
    </div> 
    <div class="volverArriba">
        <a href="/#arriba">
            <h1>ʌ</h1>
            <p>Volver arriba</p>
        </a>
    </div>
    <div class="footerFinal2">
        <div class="logoFooter">
            <a href="/"><img src="img\logo.jpeg" alt="logo" class="logo"></a>
        </div>        
        <div class="copyright">
            <h2 class="copyright">Copyright © 2012-2020 Limpiando Competencia S.A.</h2>
        </div>
    </div>
</footer>
</body>
</html>