<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limpiando a la competencia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    <link href="/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="mainHeader">
        <div class="logo">
            <a href="/"><img src="img\logo.jpeg" alt="logo de marca" class="logoDeMarca"></a>
        </div>
        <div class="barraDeBusqueda">
            
            <form action="/index.html" method="GET">
            <input type="text" name="barraDeBusqueda" id="barraDeBusqueda" placeholder="Buscar productos, Marcas                                  ">
            </form>
            <a href="/"> <i class="fas fa-search"></i></a>
        </div>
        <div class="login"> 
            <a href="/login"><p>Loguearse</p></a>
        </div>
        <div class="register"> 
            <a href="/register"><p>Registrarse</p></a>
        </div>
        <div class="carrito"> 
            <p>
            <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </p>
        </div>
    </div>
    
    <div class="menuLoginRegister">
        <i class="fas fa-bars"></i>
    </div>
</header>

<main class="mainCarrito">
        <div class="productosCarrito">
            <h2 class="titulares" id="arriba">Tus productos seleccionados</h2>
            <div class="productosCompra">    
                <div class="itemCarrito">
                    <a href="/productDetail">
                    <img src="img\cepilloBarrer.png">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$259</p>
                            <p class="descu">2% off</p>
                        </div>
                        <h3 class="tituloItem">Escobillon Curvo Base Plastica 10 Cm</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/"><input class="botonCarrito" name="botonCarrito" type="submit" value="Sacar del Carrito"></a>
                    </div>
                </div>
                <div class="itemCarrito">
                    <a href="/productDetail">
                    <img src="img\lavandina.jpg">
                    </a>
                    <div class="description">
                        <p class="camion"><i class="fas fa-truck"></i></p>
                        <div class="numeros">
                            <p class="price">$750</p>
                            <p class="descu">5% off</p>
                        </div>
                        <h3 class="tituloItem">Pack 5 Lavandinas Vim en gel 700 ml C/u</h3>
                    </div>
                    <div class="botonCarrito">
                        <a href="/"><input class="botonCarrito" name="botonCarrito" type="submit" value="Sacar del Carrito"></a>
                    </div>
                </div>
            </div>
            <div class="precioPago">
                <div class="precioTotal">
                    <h2>Precio total:</h2>
                    <p>$1009</p>
                </div>
                <div class="botonCarrito">
                    <a href="#"><input type="submit" name="pagar" class="botonCarrito" value="Pasar a pagar"></a>
                    
                </div>
            </div>
    </section>
</main>

<footer>
    <div class="footerFinal"> 
        <div class="parteFooter">
            <i class="fas fa-sign-in-alt"></i>
            <h2>Sobre nosotros</h2>
            <p>Limpiando a la competencia es una tienda online de productos de limpieza hecha para la compra online. Somos especialistas en productos de limpieza y estamos empezando a dominar el mercado online. ¡No dudes en fijarte en nuestros catalogos!</p>
        </div>
        <div class="parteFooter">
            <i class="fas fa-envelope-open-text"></i>
            <h2>Escribinos</h2>
                <div class="escribinos">
                    <p>Nuestro mail: LimpiandoCompetencia@gmail.com</p>
                </div>
        </div>
    </div> 
    <div class="footerFinal2">
        <div class="logoFooter">
            <a href="/"><img src="img\logo.jpeg" alt="logo" class="logo"></a>
        </div>        
        <div class="copyright">
            <h2 class="copyright">Copyright © 2012-2020 Limpiando Competencia S.A.</h2>
        </div>
    </div>
</footer>
</body>
</html>